body{
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho{
    /* background-color: rgb(255, 255, 255); */
    background: #1C1C1C;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    
}
.cabecalho h1{
    float: left;
    color: white;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cabecalho b{
    color:orangered;
}

.caixa{
    height: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

.cabecalho nav{
   float: right;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
}

.li_home{
    color:orangered;
}