body{
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho{
    /* background-color: rgb(255, 255, 255); */
    background: #1C1C1C;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    
}
.cabecalho h1{
    float: left;
    color: white;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cabecalho b{
    color:orangered;
}

.caixa{
    height: 100%;
    margin: 0 auto;
    max-width: 1150px;
    color: white;
}

.cabecalho nav{
   float: right;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
}

.li_home{
    color:orangered;
}

.borda_header{
    height: 3px;
    background-color: orangered;
}

.nav_inp_button{
    padding-top: 10px;
}

.botao{
    background-color: orangered;
    border: 0;
    color: white;
    height: 22px;
    
}

.nav_inp_button input{
    border: 0;
    height: 20px;
}

.Apresentacao{
    background-image: url(../assets/team.png);
    background-repeat: no-repeat;
    min-height: 400px;
    text-align: center;
}

.titulo_apresentacao{
    margin-top: 0;
    padding-top: 40px;
    font-size: 50px;
}

.caixa p{
    font-size: 20px;
}

.div_diferenciais{
    width: 100%;
    height: 400px;
}

.div_imagens{
    margin: 0 auto;
    padding-top: 80px;
    color: black;
    height: 100%;
    text-align: center;
    max-width: 1150px;
}

.img_tamanho{
    max-height: 150px;
   
}

.div_missao{
    margin-left: 100px;
    height:100%;
    width: 250px;
    float: left;
}

.div_valores{
    margin-left: 100px;
    height:100%;
    width: 250px;
    float: left;
}

.div_visao{
    margin-left: 100px;
    height:100%;
    width: 250px;
    float: left;
}

.div_rodape{
    background-color: orangered;
    padding-top: 50px;
    text-align: center;
    height: 70px;
    width: 100%;
    margin: 0;
    float: left;
}

.div_rodape .caixa h1{
    margin: 0;
    font-size: 20px;
    
}
